body {
  margin: 0;
  font-family: Source Sans Pro,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #212121;
}

h1 {
  font-size: 45px;
  margin:0%!important;
}

h2 {
  font-size: 30px;
  margin:0%!important;
}

h3 {
  font-size: 18px;
  margin:0%!important;
}

p {
  font-size: 12px;
  display: inline-block;
  margin:0%!important;
}

div.center-align, div.reveal {
  overflow: visible!important;
}

input[type="radio"] {
  position: inherit !important;
  pointer-events: inherit !important;
  opacity: inherit !important;  
}

.nav-wrapper {
  background-color: #212121;
}

.brand-logo {
  left: 0;
}

.brand-logo > img {
  height: 50px;
  margin: 5px 15px;
}

label.form > * {
  font-size: 15px !important;
}

.project-thumbnail {
  height: 20vh;
}

div#wrapper {
  top:60px;left:0px;right:0px;bottom:0px;
}

div#tableau-wrapper {
  top:0px;left:0px;right:0px;bottom:0px;
}

iframe.observablehq {
  height:90vh;
  overflow-y: scroll;
}

div.reveal {
  position: inherit !important;
}

div._slides {
  width: inherit!important;
  height: inherit!important;
  left: inherit!important;
  top: inherit!important;
  transform: inherit!important;
}

div.slides {
  max-width: 100%!important;
  max-height: 80vh!important;
  min-width: 60%;
  min-height: 70vh;
  inset: inherit!important;
  left: inherit!important;
  top: inherit!important;
  transform: inherit!important;
  overflow: visible!important;
  position: inherit!important;
}

:root {
  --amplify-primary-color: #212121;
}

a {
  cursor: pointer;
  color: #428bca !important;
  font-weight: bold !important;
}

.nav-wrapper {
  text-align: right;
}

.nav-wrapper > * {
  display: inline-block;
}

.observablehq > * {
  max-width: inherit !important;
}

a.link {
  display: inline-grid;
}

iframe > html > body > footer {
  display: none;
}

p.explication {
  margin: 0;
  font-size: 20px;
}

p.explication-small {
  margin: 0;
  font-size: 14px!important;
}

div.observable-container {
  height:60vh;
  width:100%;
}

img.example-image {
  max-width:60%;
}

div.container {
  max-width: 100%!important;
  width: 100%!important;
}

div.col > p {
  font-size: 24px;
  text-align: left;
  margin : 10px 0!important;
}

img.expImage {
  width: 90%
}